@(questoes: List[Questao])

@main("Questões cadastradas") {
	<meta charset="UTF-8">
	
	<div class="container">
		<div class="header">
			<div class="nav nav-pills pull-right">
				<a href="@routes.QuestaoCRUD.criar_questao()"> <button type="button" class="btn btn-primary"> Nova Questão </button> </a>
			</div>
			<h3 class="text-muted">Questões Objetivas</h3>
		</div>
		
		<br>
		
		@if(questoes.isEmpty){
   			 <h3> Não há questões cadastradas </h3>
 		} else {
			<table class="table table-striped table-bordered" id="example" cellpadding="0" cellspacing="0" border="0" width="100%">
				<tfoot>
					@for(questao <- questoes) {
						<tr>
							<th> <a href="@routes.QuestaoCRUD.detalhar_questao(questao.getIdquestao())"> @questao.getTituloquestao() </a> </th>
						</tr>
					}
				</tfoot>
			</table>
		}
	</div>
}